/* 
 * Color overwrites
 */
:root{
    --header-back-color: #00A6D6;
    --header-fore-color: white;
    --button-hover-border-color: #017b9d;
    --header-hover-back-color: #017b9d;

    --padding-global: 0 30px;
}

header>.logo {
    padding:var(--padding-global)
}

header>.row {
    padding: var(--padding-global);
}

.subtitle{
    margin-left: 0;
    padding-left: 0;
}